:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 2.5vh;
  line-height: 4vh;
  font-weight: 50vh;

  color: #0A0A0A;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 2.5vh;
  line-height: 4vh;
  font-weight: 50vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #3D3D3D;
  }
}